* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  #hook {
    background-color: rgb(238, 166, 166);
  }
  
  #root {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  div,
  span {
    display: inline-block;
  }
  
  ul {
    list-style-type: none;
  }
  
  li {
    margin: 5px;
    padding: 5px;
    background: rgb(196, 51, 128);
    color: white;
    border: 1px solid rgb(78, 37, 59);
    border-radius: 5px;
  }
  
  
  #controls {
    display: flex;
    justify-content: space-around;
    background-color: rgb(233, 187, 212);
  }
  #play {
    margin-right: -400px;
  }
  
  button {
    background-color: rgb(196, 51, 128);
    padding: 10px 20px;
    border: 1px solid rgb(206, 10, 114) 0.5 0.8 0.5 0.8;
    border-radius: 7px;
  }